WebCA_LeahuLorena/Connected Services/ServiceReference1/DigitalSignature1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sha256Sign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hash" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="certificateSubject" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sha256SignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sha256SignResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>